* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.container img{
    width: 60px;
    height: 60px;
}

.container {
    width:1440px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:600px;
}

.watch {
    font-weight: 600;
    width:400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.watch > div {
    width:120px;
    height:120px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.watch > div > .box {
    width:100%;
    height:100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:100%;
    left:0;
}

.watch > div > .box:first-child {
    top: 0;
}

#start{
    border: none;
    font-size: 20px;
}

#stop{
    border: none;
    font-size: 20px;
}

.watch .i{
    width: 50px;
    height: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    display: flex;
}
.control p {
 margin: 0 10px 0 10px;
}

.top{
    display: flex;
}